!.gitignore

# Doc
!README.md

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.dll
*.so

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# Python
__pycache__/

# Others
log.txt
*.log
*.nb
build.*/

# Private files and directories
/projects
