Checks: >
  *
  -android-*
  -bugprone-bool-pointer-implicit-conversion
  -cert-env33-c
  -cert-dcl50-cpp
  -cert-dcl59-cpp
  -cppcoreguidelines-*
  -fuchsia-*
  -google-*
  google-default-arguments
  google-explicit-constructor
  google-runtime-member-string-references
  google-runtime-operator
  -hicpp-braces-around-statements
  -hicpp-named-parameter
  -hicpp-no-array-decay
  -hicpp-no-assembler
  -hicpp-no-malloc
  -hicpp-function-size
  -hicpp-special-member-functions
  -hicpp-vararg
  -llvm-*
  -objc-*
  -readability-else-after-return
  -readability-implicit-bool-conversion
  -readability-named-parameter
  -readability-simplify-boolean-expr
  -readability-braces-around-statements
  -readability-identifier-naming
  -readability-function-size
  -readability-redundant-member-init
  -misc-bool-pointer-implicit-conversion
  -misc-definitions-in-headers
  -misc-unused-alias-decls
  -misc-unused-parameters
  -misc-unused-using-decls
  -modernize-use-using
  -modernize-use-default-member-init
  -clang-diagnostic-*
  -clang-analyzer-*
WarningsAsErrors: '*'
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none
User:            allonli
CheckOptions:    
  - key:             google-readability-braces-around-statements.ShortStatementLines
    value:           '1'
  - key:             google-readability-function-size.StatementThreshold
    value:           '800'
  - key:             google-readability-namespace-comments.ShortNamespaceLines
    value:           '10'
  - key:             google-readability-namespace-comments.SpacesBeforeComments
    value:           '2'
  - key:             modernize-loop-convert.MaxCopySize
    value:           '16'
  - key:             modernize-loop-convert.MinConfidence
    value:           reasonable
  - key:             modernize-loop-convert.NamingStyle
    value:           CamelCase
  - key:             modernize-pass-by-value.IncludeStyle
    value:           llvm
  - key:             modernize-replace-auto-ptr.IncludeStyle
    value:           llvm
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
