# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib
*.a

# Executables
*.exe
*.out
*.app

.DS_Store

build/
build_fpga/
docs/_build/

.idea/

CMakeCache.txt

CMakeFiles/

Makefile

cmake_install.cmake

*.cbp

paddle-mobile.cbp

.idea

compile_commands.json

cmake-build-debug/
cmake-build-release/

test/models/

test/images/

*.pyc

# model
*.nb
*.svg
*.dot

# vim intermediate files
*.swp

# Emacs intermediate files
*~

# CMake building directory
build

# clion building directories
cmake-build-debug
cmake-build-release

# vscode
.vscode

# ios
tools/libomp.a

# ios demo
demo/ios/PaddleMobileDemo/PaddleMobileDemo/googlenet_combine/
demo/ios/PaddleMobileDemo/PaddleMobileDemo/*.jpg
demo/ios/PaddleMobileDemo/PaddleMobileDemo/PaddleMobile/*.a
*.xcuserstate
/tools/quantification/quantify

# metal
Podfile.lock
metal/Pods/
SwiftProtobuf.framework
paddle-mobile.xcworkspace
metal/models/
metal/images/
*.a
metal/paddle-mobile/paddle-mobile/CPU/libpaddle-mobile.a
*.xcuserdatad/
*/xcuserdata/
/venv/

metal/paddle-mobile-demo/paddle-mobile-demo/images
metal/paddle-mobile-demo/paddle-mobile-demo/models
metal/paddle-mobile-demo/paddle-mobile-demo/Resources
metal/paddle-mobile-demo/paddle-mobile-demo/Resources/images
metal/paddle-mobile-demo/paddle-mobile-demo/Resources/models
metal/MobileNetDemo/MobileNetDemo/Resources

#flatbuffers
lite/model_parser/flatbuffers/framework_generated.h

build*

# hiai libs
ai_ddk_lib*
