# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib
*.a

# Executables
*.exe
*.out
*.app

.DS_Store

build/
build_fpga/
docs/_build/

.idea/

CMakeCache.txt

CMakeFiles/

Makefile

cmake_install.cmake

*.cbp

paddle-mobile.cbp

.idea

compile_commands.json

cmake-build-debug/
cmake-build-release/

test/models/

test/images/

*.pyc

# model
*.nb
*.svg
*.dot

# vim intermediate files
*.swp

# Emacs intermediate files
*~

# CMake building directory
build

# clion building directories
cmake-build-debug
cmake-build-release

# vscode
.vscode

# ios
tools/libomp.a

# ios demo
demo/ios/PaddleMobileDemo/PaddleMobileDemo/googlenet_combine/
demo/ios/PaddleMobileDemo/PaddleMobileDemo/*.jpg
demo/ios/PaddleMobileDemo/PaddleMobileDemo/PaddleMobile/*.a
*.xcuserstate
/tools/quantification/quantify

# metal
Podfile.lock
metal/Pods/
SwiftProtobuf.framework
paddle-mobile.xcworkspace
metal/models/
metal/images/
*.a
metal/paddle-mobile/paddle-mobile/CPU/libpaddle-mobile.a
*.xcuserdatad/
*/xcuserdata/
/venv/

metal/paddle-mobile-demo/paddle-mobile-demo/images
metal/paddle-mobile-demo/paddle-mobile-demo/models
metal/paddle-mobile-demo/paddle-mobile-demo/Resources
metal/paddle-mobile-demo/paddle-mobile-demo/Resources/images
metal/paddle-mobile-demo/paddle-mobile-demo/Resources/models
metal/MobileNetDemo/MobileNetDemo/Resources

#flatbuffers
lite/model_parser/flatbuffers/framework_generated.h
lite/model_parser/flatbuffers/param_generated.h
lite/backends/opencl/utils/cache_generated.h
build*
third-party/*

# hiai libs
ai_ddk_lib*
platform/ios/demo/classification_demo/AppDelegate.h
platform/ios/demo/classification_demo/AppDelegate.m
platform/ios/demo/classification_demo/binaryArchive.metallib
platform/ios/demo/classification_demo/cat.jpg
platform/ios/demo/classification_demo/face.jpg
platform/ios/demo/classification_demo/Info.plist
platform/ios/demo/classification_demo/labels.txt
platform/ios/demo/classification_demo/lena.png
platform/ios/demo/classification_demo/main.m
platform/ios/demo/classification_demo/MMLHandGestureDetector.h
platform/ios/demo/classification_demo/MMLHandGestureDetector.mm
platform/ios/demo/classification_demo/timer.h
platform/ios/demo/classification_demo/ViewController.h
platform/ios/demo/classification_demo/ViewController.mm
platform/ios/demo/classification_demo.xcodeproj/project.pbxproj
platform/ios/demo/classification_demo.xcodeproj/project.xcworkspace/contents.xcworkspacedata
platform/ios/demo/classification_demo.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
platform/ios/demo/classification_demo.xcodeproj/xcshareddata/xcschemes/classification_demo.xcscheme
platform/ios/demo/classification_demo/Assets.xcassets/Contents.json
platform/ios/demo/classification_demo/Assets.xcassets/AppIcon.appiconset/Contents.json
platform/ios/demo/classification_demo/autotest-server/baidu/face/crop_face.bin
platform/ios/demo/classification_demo/autotest-server/baidu/face/face.png
platform/ios/demo/classification_demo/autotest-server/baidu/gesture/0.jpeg
platform/ios/demo/classification_demo/autotest-server/baidu/gesture/1.jpeg
platform/ios/demo/classification_demo/autotest-server/baidu/gesture/10.jpeg
platform/ios/demo/classification_demo/autotest-server/baidu/gesture/11.jpeg
platform/ios/demo/classification_demo/autotest-server/baidu/gesture/12.jpeg
platform/ios/demo/classification_demo/autotest-server/baidu/gesture/13.jpeg
platform/ios/demo/classification_demo/autotest-server/baidu/gesture/14.jpeg
platform/ios/demo/classification_demo/autotest-server/baidu/gesture/15.jpeg
platform/ios/demo/classification_demo/autotest-server/baidu/gesture/16.jpeg
platform/ios/demo/classification_demo/autotest-server/baidu/gesture/17.jpeg
platform/ios/demo/classification_demo/autotest-server/baidu/gesture/18.jpeg
platform/ios/demo/classification_demo/autotest-server/baidu/gesture/19.jpeg
platform/ios/demo/classification_demo/autotest-server/baidu/gesture/2.jpeg
platform/ios/demo/classification_demo/autotest-server/baidu/gesture/20.jpeg
platform/ios/demo/classification_demo/autotest-server/baidu/gesture/3.jpeg
platform/ios/demo/classification_demo/autotest-server/baidu/gesture/4.jpeg
platform/ios/demo/classification_demo/autotest-server/baidu/gesture/5.jpeg
platform/ios/demo/classification_demo/autotest-server/baidu/gesture/6.jpeg
platform/ios/demo/classification_demo/autotest-server/baidu/gesture/7.jpeg
platform/ios/demo/classification_demo/autotest-server/baidu/gesture/8.jpeg
platform/ios/demo/classification_demo/autotest-server/baidu/gesture/9.jpeg
platform/ios/demo/classification_demo/autotest-server/baidu/shufflev2/input
platform/ios/demo/classification_demo/Base.lproj/LaunchScreen.storyboard
platform/ios/demo/classification_demo/Base.lproj/Main.storyboard
platform/ios/demo/classification_demo/include/paddle_api.h
platform/ios/demo/classification_demo/include/paddle_image_preprocess.h
platform/ios/demo/classification_demo/include/paddle_lite_factory_helper.h
platform/ios/demo/classification_demo/include/paddle_place.h
platform/ios/demo/classification_demo/include/paddle_use_kernels.h
platform/ios/demo/classification_demo/include/paddle_use_ops.h
platform/ios/demo/classification_demo/include/paddle_use_passes.h
platform/ios/demo/classification_demo/models/input/input
platform/ios/demo/classification_demo/models/input/input_1_3_256_256
platform/ios/demo/classification_demo/models/PaddleMobileBenchmark/mobilenetv1_model
platform/ios/demo/classification_demo/models/PaddleMobileBenchmark/mobilenetv1_params
platform/ios/demo/classification_demo/models/PaddleMobileBenchmark/mobilenetv2_model
platform/ios/demo/classification_demo/models/PaddleMobileBenchmark/mobilenetv2_params
platform/ios/demo/classification_demo/opencv2.framework/Headers
platform/ios/demo/classification_demo/opencv2.framework/opencv2
platform/ios/demo/classification_demo/opencv2.framework/Resources
platform/ios/demo/classification_demo/opencv2.framework/Versions/Current
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/opencv2
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/calib3d.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/core.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/features2d.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/highgui.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/imgproc.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/ml.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/objdetect.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/opencv.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/opencv_modules.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/photo.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/stitching.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/video.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/videostab.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/calib3d/calib3d.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/contrib/contrib.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/contrib/detection_based_tracker.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/contrib/hybridtracker.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/contrib/openfabmap.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/contrib/retina.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/core/affine.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/core/core.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/core/core_c.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/core/cuda_devptrs.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/core/devmem2d.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/core/eigen.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/core/gpumat.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/core/internal.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/core/mat.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/core/opengl_interop.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/core/opengl_interop_deprecated.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/core/operations.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/core/types_c.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/core/version.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/core/wimage.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/features2d/features2d.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/all_indices.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/allocator.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/any.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/autotuned_index.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/composite_index.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/config.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/defines.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/dist.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/dummy.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/dynamic_bitset.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/flann.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/flann_base.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/general.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/ground_truth.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/hdf5.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/heap.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/hierarchical_clustering_index.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/index_testing.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/kdtree_index.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/kdtree_single_index.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/kmeans_index.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/linear_index.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/logger.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/lsh_index.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/lsh_table.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/matrix.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/miniflann.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/nn_index.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/object_factory.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/params.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/random.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/result_set.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/sampling.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/saving.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/simplex_downhill.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/flann/timer.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/highgui/cap_ios.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/highgui/highgui.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/highgui/highgui_c.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/highgui/ios.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/imgproc/imgproc.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/imgproc/imgproc_c.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/imgproc/types_c.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/legacy/blobtrack.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/legacy/compat.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/legacy/legacy.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/legacy/streams.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/ml/ml.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/nonfree/features2d.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/nonfree/gpu.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/nonfree/nonfree.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/nonfree/ocl.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/objdetect/objdetect.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/photo/photo.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/photo/photo_c.h
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/stitching/stitcher.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/stitching/warpers.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/stitching/detail/autocalib.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/stitching/detail/blenders.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/stitching/detail/camera.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/stitching/detail/exposure_compensate.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/stitching/detail/matchers.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/stitching/detail/motion_estimators.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/stitching/detail/seam_finders.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/stitching/detail/util.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/stitching/detail/util_inl.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/stitching/detail/warpers.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/stitching/detail/warpers_inl.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/video/background_segm.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/video/tracking.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/video/video.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/videostab/deblurring.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/videostab/fast_marching.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/videostab/fast_marching_inl.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/videostab/frame_source.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/videostab/global_motion.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/videostab/inpainting.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/videostab/log.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/videostab/motion_stabilizing.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/videostab/optical_flow.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/videostab/stabilizer.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/videostab/videostab.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Headers/world/world.hpp
platform/ios/demo/classification_demo/opencv2.framework/Versions/A/Resources/Info.plist
platform/ios/framework/PaddleLiteiOS copy-Info.plist
platform/ios/framework/PaddleLiteiOS/Info.plist
platform/ios/framework/PaddleLiteiOS/PaddleLiteiOS.h
platform/ios/framework/PaddleLiteiOS.xcodeproj/project.pbxproj
platform/ios/framework/PaddleLiteiOS.xcodeproj/project.xcworkspace/contents.xcworkspacedata
platform/ios/framework/PaddleLiteiOS.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
platform/ios/framework/PaddleLiteiOS.xcodeproj/xcshareddata/xcschemes/PaddleLiteiOS.xcscheme
platform/ios/framework/PaddleLiteMetal/PaddleLiteMetal.h
platform/ios/framework/PaddleLiteMetal/PaddleLiteMetal.m
platform/ios/metallib/metallib/metallib.metal
platform/ios/metallib/metallib.xcodeproj/project.pbxproj
platform/ios/metallib/metallib.xcodeproj/project.xcworkspace/contents.xcworkspacedata
platform/ios/metallib/metallib.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
platform/ios/metallib/metallib.xcodeproj/xcshareddata/xcschemes/metallib.xcscheme
platform/ios/PDLDemo.xcworkspace/contents.xcworkspacedata
platform/ios/PDLDemo.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
